/* Resetando algumas configurações padrão */
.page {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: rgb(240, 240, 240);
}

/* Seção Principal */
.main {
    padding-top: 6rem;
}

.viewPrincipal {
    background-image: url("/fundacao-membros.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 55%;
    transition: background-image 0.5s ease;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.viewPrincipal p {
    color: #FF7A00;
    margin: 0 2rem;
    max-width: 90%;
    font-size: 30pt;
    font-weight: bold;
}

@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

.topicos {
    background-color: white;
    margin: 3rem 2rem;
    overflow: hidden;
    border-radius: 2rem;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 30%;
}

.topicos div {
    display: block;
    margin: 3rem 4rem;
}

.topicos p {
    font-size: 20px;
    color: #666;
    line-height: 1.6;
}

#sobre,
#escolas {
    display: flex;
    justify-content: center;
    align-items: start;
}

#sobre img,
#escolas img {
    width: 50%;
    display: block;
    margin: 0;
}

.h2 {
    font-size: 45px;
    color: #333;
    margin-bottom: 15px;
}