

/* Main */
.main {
  padding: 0;
  padding-top: 6rem;
}

/* Seção principal com imagem de fundo */
.viewPrincipal {
  background-image: url("/LogoLaranja.png");
  background-color: #00294c;
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: 50% 55%;
  height: 82vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* Blocos de conteúdo */
.topicos {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 17vh 1.5rem;
  margin-bottom: 2rem;
  /*background-color: transparent;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);*/
  height: auto;
  width: 100%;
  /*margin: 3rem 2rem;*/
  overflow: hidden;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0 cover 30%;
}

:global(#areas) {
  background-color: #FF7A00;
  h2 {
    margin-bottom: 4rem;
    text-shadow: -0.5rem 0.5rem 1.5rem rgba(0, 0, 0, 0.9);
  }
  box-shadow: inset 0rem 1rem 5rem 0.1rem rgba(0, 0, 0, 0.4),
              inset 0rem -1rem 5rem 0.1rem rgba(0, 0, 0, 0.4);
}

:global(#escolas) {
  h2 {
    margin-bottom: 4rem;
  }
}

:global(#missao) {
  background-color: #FF7A00;
  margin-bottom: 0;
  h2 {
    text-shadow: -0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.9);
  }
  p {
    text-shadow: -0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.9);
  }
  box-shadow: inset 0rem 1rem 5rem 0.1rem rgba(0, 0, 0, 0.4),
              inset 0rem -1rem 5rem 0.1rem rgba(0, 0, 0, 0.4);
}

.imagemPtext {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 2rem;
}

.textosTopicos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  text-align: justify;
}

.imagemTopico {
  width: 44%;
  height: auto;
  margin: 0rem 2rem;
  border-radius: 1rem;
  box-shadow: -1rem 1rem 5rem 0.1rem rgba(0, 0, 0, 0.4);
}

@media (max-width: 768px) {
  .textosTopicos{
    width: 100%;
  }

  .imagemTopico {
    width: 100%;
    height: auto;
    margin: 2rem 0rem;
  }

  .viewPrincipal {
    height: 20vh;
    background-size: 90%;
  }

  .topicos {
    padding: 10vh 0.4rem;
  }

  :global(#sobre) {
    padding-top: 5vh;
  }
}

/* Conteúdo interno dos blocos */
.conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.topicos .conteudo ul {
  display: flex;
  justify-content: center;
  gap: 3rem;
  width: 100%;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
}

.topicos .conteudo ul li {
  padding: 0;
  margin: 0;
}

/* Título */
.h2 {
  font-size: 2.2rem;
  color: white;
  margin-bottom: 25px;
  text-wrap: wrap;
  text-align: center;
}

/* Parágrafos */
.topicos p {
  font-size: 1.2rem;
  color: white;
  line-height: 1.6;
}

.topicoEventos {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-top: 0;
  height: 70vh;
  width: 100%;
  overflow: hidden;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0 cover 30%;
}

.imagensEventos {
  height: 100%;
  width: auto;
  object-fit: cover;

  mask-image: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 90%);
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}

.textosEventos {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  right: 10%;
  bottom: 5%;
  width: 50vw;
  text-align: justify;
}

.topicoEventos h2 {
  position: absolute;
  font-size: 3.7rem;
  top: 3rem;
  right: 4rem;
}

.topicoEventos h3 {
  font-size: 2.2rem;
  width: 100%;
  text-align: start;
}

.textosEventos p {
  width: 100%;
  font-size: 1.2rem;
}

.conteudoEventos {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
}

.slideWrapper {
  width: 100%;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  transform: translateX(0);
  opacity: 1;
}

.slideOut {
  transform: translateX(-5%); /* sai para a esquerda */
  opacity: 0;
}

.setaTroca {
  position: absolute;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  span {
    margin: 2rem;
    cursor: pointer;
    color: #FF7A00;
    transition: color 0.3s ease;
    font-size: 5rem;
    font-weight: bold;
    text-shadow: -0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.4);
    /*transform: translateY(50%);*/
  }

  span:hover {
    color: white;
  }
}