.card {
    border-radius: 1rem;
    padding: 1.5rem;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    transition: 0.2s;
}

.card:hover {
    transform: translateY(-4px);
}

.divCardText {
    max-width: 70%;
}

.bold {
    font-weight: bold;
    font-size: 1.1rem;
}

.badge {
    flex: 1.3;
    padding: 4px 10px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
    white-space: nowrap;
}

.aprovado {
    background: #DCFCE7;
    color: #16A34A;
}

.pendente {
    background: #FEF3C7;
    color: #B45309;
}

.rejeitado {
    background: #FEE2E2;
    color: #DC2626;
}

.RH {
    background: #FEF3C7;
}

.Financeiro {
    background: #E9D5FF;
}

.Docência {
    background: #FFF1E6;
}

.Projetos {
    background-color: #DCEFF3;
}

.Marketing {
    background: #DCEAFE;
}

.Gestão {
    background: #DCFCE7;
}

.AudioVisual{
    background: #FEE2E2;
}

.actionsCell {
    display: flex;
    align-items: center;
    gap: 8px;
    white-space: nowrap;
}

/* BOTÃO APROVAR */
.btnAprovar {
    padding: 6px 12px;
    border-radius: 8px;
    border: 1px solid #16a34a;
    background: #22c55e;
    color: white;
    font-size: 13px;
    font-weight: 500;
    /* width: 6rem; */
    cursor: pointer;
    transition: all 0.2s ease;
}

.btnAprovar:hover {
    background: #16a34a;
    box-shadow: 0 4px 10px rgba(34, 197, 94, 0.25);
}

.btnAprovar:active {
    transform: scale(0.96);
}

/* BOTÃO REJEITAR */
.btnRejeitar {
    padding: 6px 12px;
    border-radius: 8px;
    border: 1px solid #dc2626;
    background: #ef4444;
    color: white;
    font-size: 13px;
    font-weight: 500;
    /* width: 6rem; */
    cursor: pointer;
    transition: all 0.2s ease;
}

.btnRejeitar:hover {
    background: #dc2626;
    box-shadow: 0 4px 10px rgba(239, 68, 68, 0.25);
}

.btnRejeitar:active {
    transform: scale(0.96);
}